
# Ignora tudo
*

# ── Arquivos permitidos ──────────────────────────
!.gitignore
!README.md
!LICENSE
# ── Pastas permitidas ─────────────────────────────
!free/
!free/nexus_paper_tecnico.md
!free/Beta3_Post_Mortem.md

